@page
@model DiamondShopSystem.RazorWebApp.Pages.SideStonePage.CreateModel

<h2>Create Side Stone</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="SideStone.Name" class="control-label"></label>
        <input asp-for="SideStone.Name" class="form-control" />
        <span asp-validation-for="SideStone.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SideStone.Descriptoin" class="control-label"></label>
        <textarea asp-for="SideStone.Descriptoin" class="form-control"></textarea>
        <span asp-validation-for="SideStone.Descriptoin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SideStone.Price" class="control-label"></label>
        <input asp-for="SideStone.Price" class="form-control" />
        <span asp-validation-for="SideStone.Price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
