@page
@model DiamondShopSystem.RazorWebApp.Pages.ProductPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DiamondSettingId" class="control-label"></label>
                <select asp-for="Product.DiamondSettingId" class="form-control" asp-items="ViewBag.DiamondSettingId"></select>
                <span asp-validation-for="Product.DiamondSettingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CreateAt" class="control-label"></label>
                <input asp-for="Product.CreateAt" class="form-control" />
                <span asp-validation-for="Product.CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UpdateAt" class="control-label"></label>
                <input asp-for="Product.UpdateAt" class="form-control" />
                <span asp-validation-for="Product.UpdateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Warranty" class="control-label"></label>
                <input asp-for="Product.Warranty" class="form-control" />
                <span asp-validation-for="Product.Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Status" class="control-label"></label>
                <input asp-for="Product.Status" class="form-control" />
                <span asp-validation-for="Product.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StartDate" class="control-label"></label>
                <input asp-for="Product.StartDate" class="form-control" />
                <span asp-validation-for="Product.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.EndDate" class="control-label"></label>
                <input asp-for="Product.EndDate" class="form-control" />
                <span asp-validation-for="Product.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Terms" class="control-label"></label>
                <input asp-for="Product.Terms" class="form-control" />
                <span asp-validation-for="Product.Terms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SideStoneId" class="control-label"></label>
                <select asp-for="Product.SideStoneId" class="form-control" asp-items="ViewBag.SideStoneId"></select>
                <span asp-validation-for="Product.SideStoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SideStoneAmount" class="control-label"></label>
                <input asp-for="Product.SideStoneAmount" class="form-control" />
                <span asp-validation-for="Product.SideStoneAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.MainDiamondId" class="control-label"></label>
                <select asp-for="Product.MainDiamondId" class="form-control" asp-items="ViewBag.MainDiamondId"></select>
                <span asp-validation-for="Product.MainDiamondId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
